
# PlanAhead Generated IO constraints 

NET "Button[3]" IOSTANDARD = LVCMOS33;
NET "Button[2]" IOSTANDARD = LVCMOS33;
NET "Button[1]" IOSTANDARD = LVCMOS33;
NET "Button[0]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[7]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[6]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[5]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[4]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[3]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[2]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[1]" IOSTANDARD = LVCMOS33;
NET "Segment7_0[0]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[7]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[6]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[5]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[4]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[3]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[2]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[1]" IOSTANDARD = LVCMOS33;
NET "Segment7_1[0]" IOSTANDARD = LVCMOS33;
NET "SlideSwitch[3]" IOSTANDARD = LVCMOS33;
NET "SlideSwitch[2]" IOSTANDARD = LVCMOS33;
NET "SlideSwitch[1]" IOSTANDARD = LVCMOS33;
NET "SlideSwitch[0]" IOSTANDARD = LVCMOS33;
NET "CLK_REF" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLK_REF" LOC = L16;
NET "Button[0]" LOC = R18;
NET "Button[1]" LOC = P16;
NET "Button[2]" LOC = V16;
NET "Button[3]" LOC = Y16;
NET "LED[0]" LOC = M14;
NET "LED[1]" LOC = M15;
NET "LED[2]" LOC = G14;
NET "LED[3]" LOC = D18;
NET "SlideSwitch[0]" LOC = G15;
NET "SlideSwitch[1]" LOC = P15;
NET "SlideSwitch[2]" LOC = W13;
NET "SlideSwitch[3]" LOC = T16;
NET "Segment7_0[0]" LOC = T10;
NET "Segment7_0[1]" LOC = T20;
NET "Segment7_0[2]" LOC = U20;
NET "Segment7_0[3]" LOC = V20;
NET "Segment7_0[4]" LOC = W20;
NET "Segment7_0[5]" LOC = V15;
NET "Segment7_0[6]" LOC = W15;
NET "Segment7_0[7]" LOC = T11;
NET "Segment7_1[0]" LOC = H15;
NET "Segment7_1[1]" LOC = T14;
NET "Segment7_1[2]" LOC = T15;
NET "Segment7_1[3]" LOC = P14;
NET "Segment7_1[4]" LOC = R14;
NET "Segment7_1[5]" LOC = V12;
NET "Segment7_1[6]" LOC = W16;
NET "Segment7_1[7]" LOC = J15;
